name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
          ssh-keyscan -t rsa ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy via SSH
        env:
          ENV_FILE: ${{ secrets.ENV_FILE }}
        run: |
          ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
            cd /root/PersonalFinanceTracker || git clone git@github.com:fermeradar/personal-finance-tracker.git /root/PersonalFinanceTracker;
            cd /root/PersonalFinanceTracker;
            git pull;
            echo "$ENV_FILE" > .env;
            docker-compose -f docker/docker-compose.yml down
            docker-compose -f docker/docker-compose.yml up --build -d
          EOF
